extends layout

block content

    div.col-md-12
        button.btn.btn-danger#log_out(type="button") Logout

    div.col-md-6
        h1 Coffee Shops
        ul#coffee_shops_list
    div.col-md-6#comment_col
        h1 Comments
        ul#coffee_shops_comments
        div.form-group
            label(for="comment_coffe_shop") Coffee shop
            input.form-control#comment_coffe_shop(type="txt", aria-describedby="emailHelp", placeholder="comment")
        button.btn.btn-primary#send_comment(type="button") Send

    div.col-md-12
        h1 Add coffee shop
        div.form-group
            label(for="name_coffe_shop") Coffee shop
            input.form-control#name_coffe_shop(type="txt", aria-describedby="emailHelp", placeholder="Enter coffee shop")

        div.form-group
            label(for="is_comentable") Is comentable
            select.form-control#is_comentable
                option(value="NO") NO
                option(value="YES") YES
        button.btn.btn-primary#send_coffee_shop(type="button") Send

    script(src='/javascripts/controllers/coffeeshops.js')
    script(src='/javascripts/controllers/logout.js')
