extends layout

block content

	<h1> Login</h1>
	<div class="form-group">
	<label for="user_login">User</label>
	<input type="text" class="form-control" id="user_login" aria-describedby="emailHelp" placeholder="Enter user">
	</div>
	<div class="form-group">
	<label for="password_login">Password</label>
	<input type="password" class="form-control" id="password_login" placeholder="Password">
	</div>
	<button type="button" id="enviar_login" class="btn btn-primary">Enviar</button>

	<hr>

	<h1> Registro</h1>
	<div class="form-group">
	<label for="user_registro">User</label>
	<input type="txt" class="form-control" id="user_registro" aria-describedby="emailHelp" placeholder="Enter user">
	</div>
	<div class="form-group">
	<label for="password_registro">Password</label>
	<input type="password" class="form-control" id="password_registro" placeholder="Password">
	</div>
	<div class="form-group">
	<label for="es_admin_registro">Is Admin</label>
	<select class="form-control" id="es_admin_registro">
	<option value="NO" selected>NO</option>
	<option value="YES">YES</option>
	</select>
	</div>
	<button type="button" id="enviar_registro" class="btn btn-primary">Enviar</button>	</div>

	script(src='/javascripts/controllers/login.js')
	script(src='/javascripts/controllers/register.js')
